* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  // background-color: #9ecffd;
  background-image: url(https://cdn.pixabay.com/photo/2017/07/19/01/41/clouds-2517653_960_720.jpg);
  background-size: cover;
  color: #ffffff;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.input {
  display: flex;
  color: #ffffff;
  margin: 0 auto;
  background-color: rgb(185, 184, 185);
}
